.wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-calendar {
  margin-bottom: 20px;
}
.hidden {
  display: none;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-group h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.styled-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.styled-button {
  padding: 10px 50px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.styled-button:hover {
  color: #0056b3;
}
