.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .font-size-7 {
    font-size: 3rem; /* 设置合理的字体大小 */
  }
  
  .gap-4 {
    gap: 1.3rem;
  }
  
  .w-10rem {
    width: 10rem;
  }
  
  .green-bg {
    background-color: green; /* 设置背景颜色为绿色 */
  }
  